*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

/*  ********************************* NAVBAR ************************************ */

nav{
    height: 6.5vh;
    background-color: orangered;
    color: white;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin: 0 10px;
    padding: 2px 5px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.logo img{
    width: 55px;
    margin: 0 8px;
}

/*  ********************************* SECTION ************************************ */

section{
    height: 75vh;
    margin: 20px auto;
    width: 70%;
    background-color: black;
    display: flex;
    color: white;
    border-radius: 15px;
    padding: 15px;
    background: url(./bg.webp);
    background-size: cover;

}

.songItemContainer{
    margin-top: 40px;
    margin-left: 30px;
}

.songItem{
    background-color: white;
    color: black;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    border-radius: 5px;
    margin: 15px 0;
}

.songItem img{
    width: 40px;
    height: 25px;
    border-radius: 5px;
    margin: 0 15px;
}

.duration i{
    cursor: pointer;
}

/*  ********************************* FOOTER ************************************ */

footer{
    position: sticky;
    bottom: 0;
    height: 13.3vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    gap: 10px;
}
#myProgress{
    width: 80vw;
    cursor: pointer;
}

.icons i {
    cursor: pointer;
    margin: 0 5px;
}
.icons i:hover {
    filter: drop-shadow(0 0 10px white);
}

.songInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 10vw;
}

.songInfo img{
    width: 30px;
    opacity: 0;
    transition: opacity 1s ease-in;
}

#masterDuration{
    position: absolute;
    right: 10vw;
}

/* *************************** RESPONSIVE ***************************** */

@media screen and (max-width: 700px) {
    footer{
        gap: 25px;
    }
    .icons{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .songInfo, #masterDuration{
        margin-top: -24px;
    }
}


@media screen and (max-width: 520px) {
    .songItem{
        font-size: 14px;
        padding-right: 4px;
    }
    .songItem img{
        margin: 0 7px;
    }
    .songItemContainer{
        margin-left: 5px;
    }
    .icons{
        font-size: 13px;
        margin-top: 2px;
    }
    .songInfo, #masterDuration{
        margin-top: -27px;
    }
}

@media screen and (max-width: 400px) {
    .songItem img{
        width: 25px;
        margin: 0 2px;
    }
    .songList > h1{
        text-align: center;
    }
    .songItemContainer{
        margin-left: 0px;
    }
    .songItem{
        font-size: 12px;
    }
    section{
        width: 85%;
    }
}